/* Background parallax image */
.parallax {
  opacity: 0.9;
  background-image: url("../img/parallax/background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.breadcrumb-item{
  font-size: 28px;
}

.breadcrumb-item a{
  color: black;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1100px}
/* Set gray background color and 100% height */
.sidenav {
	background-color: #1F1D3E;
	height: 100%;
	color: white;
	padding: 15px;
}
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
  }
@media (min-width: 768px){
	.col-sm-3 {
		width: 20%;
	}
}

/*active sidenav color*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #E48F21;
}

/* non active pagination */
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #fff;
    background-color: #1F1D3E;
    border: 1px solid #1F1D3E;
    margin-left: -1px;
}

/*active pagination color*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #E48F21;
    border-color: #E48F21;
    cursor: default;
}

/*Disabled pagination*/
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #1F1D3E;
    border: 1px solid #1F1D3E;
    cursor: not-allowed;
}

/*When click "CHI TIẾT" after hover on product image then 
redirect to detail page with those css like this*/
#product-thumbnail{
  width: 397px;
  height: 595px;
}

.panel.panel-warning{
  height: 595px;
  background: #E9E9E9
}

.panel-warning > .panel-heading {
  color: #8A6DF7;
  background-color: #fff; 
  border-color: #8A6CC1;
}

#product-title-id{
  font-size: 28px;
}

#product-price{
  font-size: 35px;
  color: red;
}

#product-description-detail{
  font-style: italic;
}